.DrawerToggle {
    background: transparent;
    border: none;
    color: inherit;
    width: 32px;
    height: 32px;
    align-self: center;
    margin-right: 8px;
    border-radius: 2px;

    &:hover {
        background: rgba(255,255,255,0.1);
    }
}

.DrawerToggle--active {
    background: rgba(255,255,255,0.2);
}