@import "styles/variables";

$drawerWidth: 300px;

.Drawer {
    position: fixed;
    z-index: $headerZIndex;
    top: $headerHeight;
    left: 0;
    bottom: 0;
    width: $drawerWidth;
    transform: translateX(-100%);
    transition: transform 0.3s;
    background: #444444;
    color: white;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding: 20px;
}

.Drawer--active {
    transform: translateX(0);
}

.Drawer__Navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Drawer__Navigation__Item {

}

.Drawer__Navigation__Item__Link {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 5px 10px;

    border: 1px solid transparent;
    transition: border 0.3s;

    &:hover {
        border-color: #ffffff;
    }
}