<!DOCTYPE html>
<html lang="en-gb" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>My App | React Dojo</title>
</head>
<body>
<div id="ROOT">
    <!-- Our React elements are injected here -->
</div>
</body>
</html>
