* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 14px/1.5em 'Arial', sans-serif;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.no-margin {
    margin: 0;
}
