.Row {
    display: flex;
    flex-wrap: wrap;
    margin: 50px -15px;
}

.Row--spacing-large {
    margin: 80px -15px;
}

.Row--spacing-small {
    margin: 15px -15px;
}

@media all and (max-width: 600px) {
    .Row {
        display: block;
    }
}
